body{
    background-color: antiquewhite;
}

div.controlPanel{
    position: relative;
    background-color: blue;
    padding: 5px;
    align-items: center;
}
table{
    width: 50%;
    border-spacing: 30px;
}

td{
    background-color: aquamarine;
    padding: 15px;
    text-align: center;
}

button#left, button#right{
    padding-top: 200px;
    padding-bottom: 200px;
}

button#up, button#down{
    padding-left: 200px;
    padding-right: 200px;
}

div.playerPanel{
    background-color: black;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 600px;
    height: 80rem;

    position: relative;
}


div.gameView{
    width: 500px;
    height: 500px;
    background-color: beige;

    /*position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%,0);*/

    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    background-image: url("theMap.png") ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300%;

    transition: background-position 0.5s;
}

div.invis{
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/

}

div.invis_after{
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/

}

div.interactable{
    border-radius: 50%;
    background-color: blue;

}

div#minigame{
    position:absolute;
    top: 20%;
    right: 10%;
}

div.random_1{
    background-color: chocolate;
    padding: 50px;
}

div.random_2{
    background-color: rgb(96, 210, 30);
    padding: 25px;
}

h1{
    color: white;
}

#addJunkHere::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#addJunkHere {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* for deleted text */

del span{
    
  display: inline-block;
  background-color: black;
  color: transparent;
  transform: rotate(.5deg), skewx(-8deg);
  padding: 0 1em;
  margin: 0 -.5em;
  user-select: none;
  cursor: default;
  border-radius: 2px;
  
}

/* for the entries*/

div.inc_entry, div.complete_entry{
    padding: 15px;
}

div.inc_entry{
    background-color: #f9cb9c;
}