body{
    background-color: antiquewhite;
}

div.controlPanel{
    position: relative;
    background-color: blue;
    padding: 5px;
    align-items: center;
}
table{
    width: 50%;
    border-spacing: 30px;
}

td{
    background-color: aquamarine;
    padding: 15px;
    text-align: center;
}

button#left, button#right{
    padding-top: 200px;
    padding-bottom: 200px;
}

button#up, button#down{
    padding-left: 200px;
    padding-right: 200px;
}

div.playerPanel{
    background-color: black;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 600px;
    height: 80rem;

    position: relative;
}


div.gameView{
    width: 500px;
    height: 500px;
    background-color: beige;

    /*position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%,0);*/

    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    background-image: url("theMap_before.png") ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300%;

    transition: background-position 0.5s;
}

div.invis{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color:none;

}

div.invis_after{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color:none;

}

/*interactables===========================*/

div.interactable{
    position: absolute;
    background-color: rgba(255, 217, 0, 0);

}

/* minigame assets */
div#file{
    background-color: rgb(55, 23, 129);
    width: 30px;
    height: 30px;
    left: 10%;
    bottom:5%;
}

div#valve_1{
    background-color: rgb(55, 23, 129);
    width: 30px;
    height: 30px;
    left: 10%;
    bottom:5%;
}

div#valve_2{
    background-color: rgb(55, 23, 129);
    width: 30px;
    height: 30px;
    right: 10%;
    top:5%;
}

div#valve_3{
    background-color: rgb(55, 23, 129);
    width: 30px;
    height: 30px;
    left: 10%;
    top:5%;
}

div#pipe{
    background-color: rgb(55, 23, 129);
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}

/* specific entries */

div#interactable_0_0{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}

div#interactable_0_1{ /* what object is this */
    width: 100px;
    height: 100px;
    right: 40%;
}

div#interactable_0_2{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}

div#interactable_1_0{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}

div#interactable_1_2{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:23%;
}

div#interactable_2_0{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}

div#interactable_2_1{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}

div#interactable_2_2{ /* what object is this */
    width: 30px;
    height: 30px;
    right: 30%;
    top:15%;
}




div#minigame{
    position:absolute;
    top: 20%;
    right: 10%;
}

div.random_1{
    background-color: chocolate;
    padding: 50px;
}

div.random_2{
    background-color: rgb(96, 210, 30);
    padding: 25px;
}

div.random_2{
    background-color: rgb(210, 111, 30);
    padding: 15px;
}

div.random_2{
    background-color: rgb(117, 214, 231);
    padding: 5px;
}

div.random_2{
    background-color: rgb(248, 68, 248);
    padding: 30px;
}

h1{
    color: white;
}

#addJunkHere::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#addJunkHere {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* for deleted text */

del span{
    
  display: inline-block;
  background-color: black;
  color: transparent;
  transform: rotate(.5deg), skewx(-8deg);
  padding: 0 1em;
  margin: 0 -.5em;
  user-select: none;
  cursor: default;
  border-radius: 2px;
  
}

/* for the entries*/

div.inc_entry, div.complete_entry{
    padding: 15px;
}

div.inc_entry{
    background-color: #f9cb9c;
}

div.complete_entry{
    background-color: #0b5394;
}

div.complete_entry > p{
    color: rgb(252, 247, 241);
}

img{
    width:100%;
    height:100%;
}